.hero {
    height: 100vh !important;
    padding: 20px !important;

    &__bg {
        height: 100%;
        width: 100%;
        position: relative;

        .overlay {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.2;
            z-index: 10;
            height: 100%;
            width: 100%;
        }

        &__scroll {
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: fade 30s infinite ease-in-out alternate;
        }

        #scroll-1 {
            background-image: url('../assets/hero/5527a395e02754bb57746389_slider1.jpg');
            animation-delay: 0s;
            background-position: 50% 0px;
        }

        #scroll-2 {
            background-image: url('../assets/hero/55299d1b0108cf394df61d5a_sheep.jpeg');
            animation-delay: 10s;
            background-position: 50% 0px;
        }

        #scroll-3 {
            background-image: url('../assets/hero/55299e51264213136f7d6a43_hoop.jpg');
            animation-delay: 20s;
            background-position: 50% 100%;
        }

        &__content {
            position: absolute;
            z-index: 70;
            top: 35%;
            right: 5%;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            text-align: right;

            .title--big {
                letter-spacing: -3px;
                font-weight: bold;

                span {
                    display: block;
                    font-style: italic;
                    font-size: 17px;
                    font-weight: normal;
                    font-family: 'Vollkorn', serif;
                    letter-spacing: 0px;
                    margin: 10px 0;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}