@import 'hero';
@import 'header';
@import 'img-side-text';
@import 'divider';
@import 'services-grid';
@import 'quotes';

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-x: hidden;
}
/* class configs */
.title {
        font-size: 42px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: -2px;
        line-height: 32px;

        span {
            display: block;
            font-family: 'Vollkorn', serif;
            font-size: 17px;
            font-style: italic;
            font-weight: normal;
            margin-top: 4px;
            margin-bottom: 32px;
            letter-spacing: 0;
            line-height: normal;
        }

    &--big{
        font-size: 56px;
    }
}

.container {
    width: 100%;
    padding: 0 25px;
}

.button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    padding: 15px 32px;
    margin-top: 30px;
    border: 2px solid #000;
    transition: all ease-in-out .425s;

    &:hover {
        background-color: #878787;
        color: #fff;
        border-color: #878787;
        transition: all ease-in-out .425s;
    }
}